<!-- views/CrudUsers/indexUsuarios.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="usuarios/crear">Crear Usuario</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.id %></td>
                    <td><%= usuario.name %></td>
                    <td><%= usuario.email %></td>
                    <td><img src="<%= usuario.profileImageUrl %>" alt="Foto de <%= usuario.name %>"></td>

                           <td>
                        <a href="usuarios/editar/<%= usuario.id %>">Editar</a>
                        <!-- Agrega el enlace o lógica para eliminar si es necesario -->
                    </td>
                </tr>
                <% console.log(usuario); %> <!-- Agregado para imprimir información del usuario -->
            <% }); %>
            
        </tbody>
    </table>
</body>
</html>
